.junbotron{
	background-color: #33ff80;
	color:black;
}


footer{
	padding:10px 10px 0 10px;
	background-color: #33ff80;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-r{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-ver{
	width: 20%;
}